numpy
healpy
logdecorator
psutil
# plancklens # https://github.com/carronj/plancklens.git
# scarf # git clone --recurse-submodules https://github.com/samuelsimko/scarf
# attrs # pip install --upgrade attrs
# lenspyx # https://github.com/carronj/lenspyx.git
# MSC
